.container
{
	margin: 0px;
	padding: 0px;	

}
/**----------------------------pie de pagina---------------------------------------------------**/
#men_top
{ 
	position: fixed; top:0px; left:95px;
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #DDD;
	background-color: #20B2AA;
	z-index: 1000;
}
#men_top img
{
	width: 140px;
	height: 55px;
}
/**----------------------------------menu izquierdo---------------------------------------------**/
#men_izq
{ 
	float: left;
	position: fixed; top:0px left:0px;	
	z-index: 1000;
}
#men_izq img
{
	width: 50px;
	height: 50px;
	margin: 10px;	

}
#men_izq button
{
	background-color:;
}
/**---------------------------------------contenido del inicio----------------------------------------**/
#inicio
{
	margin: 0px;
	padding: 0px;
	height: 665px;
	width: 1354px;
	background-image: url("./img/fondo.svg");	
	background-color: #FA8072;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:right top;
	
}
.img1
{
	width: 500px;
	height: 500px;
	position: absolute; bottom:0px; right: 25px; 
	margin: 0px;
	padding: 0px;
}
.img2
{
	height: 250px;
	position: absolute; bottom:38%; right: 25%; 
	margin: 0px;
	padding: 0px;

}

/**-------------------------------------------------------------------------------**/
#inicio2
{
	margin: 0px;
	padding: 0px;
	height: 665px;
	width: 1354px;

}
#inicio2 img
{
	width: 300px;
	height: 250px;
}

#ini2cent
{

	background-color: #DCDCDC;
 }

/**-------------------------------------------------------------------------------**/
 #descrip
 {
	margin: 0px;
	padding: 0px;
	height: 665px;
	width: 1354px;
 }
 #descrip div 
 {
 	
 	height: 500px;
 	background-color: #DCDCDC;
 }
 #linea
 {
  	border-right-width: 2px;	
 	border-right-color: #C0C0C0;
 }

 #descrip div img
 {
 	width: 60%;
 }
/**-------------------------------------------------------------------------------**/
 #pyb
 {
	margin: 0px;
	padding: 0px;
	height: 665px;
	width: 1354px;
 }
 #pyb blockquote
 {
 	margin: 13px;
 	padding:0px;
 }
 .pybimg1
 {
 	width: 200px;
	height: 150px;
 }
 .pybimg2
 {
 	width: 150px;
 	height: 100px;
 }
 .colorS
 {
 	background-color: #FA8072;
 }
 .colorA
 {
 	background-color: #20B2AA ;
 }
/**-------------------------------------------------------------------------------**/
 #nsup
 {
	margin: 0px;
	padding: 0px;
	height: 665px;
	width: 1354px;
 }
 #nsup blockquote
 {
 	margin: 13px;
 	padding: 0px;
 }
 .nsupimg1
 {
 	width: 150px;
 	height: 100px;
 }
/**-------------------------------------------------------------------------------**/
#curso
{
	margin: 0px;
	padding: 0px;
	height: 1500px;
	width: 1354px;
}
.cursoimg1
{
 	width: 200px;
	height: 150px;	
}
.cursoimg2
{
	width: 500px;
	height: 350px;
	
}
/**-------------------------------------------------------------------------------**/
#final
{
	margin: 0px;
	padding: 0px;
	height: 540px;
	width: 1354px;	
}
#final img
{
	width: 350px;
	height: 300px;
}


